/**/node_modules/
/.git/
/.idea/
/**/Thumbs.db
/**/*.DS_Store
/**/package-lock.json
/**/debug.log
/app/wp-content/*
!/app/wp-content/plugins/
!/app/wp-content/themes/
!/app/wp-content/languages/
!/app/wp-content/uploads/
/app/.htpasswd
