@use "../vars" as *;
@use "../mixins/media" as *;

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 7px;

  > * {
    padding: 10px;
  }

  .prev,
  .next {
    font-size: 20px;
    font-weight: 700;
    padding: 0 10px 4px;
    
    @include media(md) {
      font-size: 14px;
      padding: 10px;
    }
  }

  .prev {
    &:before {
      content: "<";

      @include media(md) {
        content: "Назад";
      }
    }
  }

  .next {
    &:before {
      content: ">";

      @include media(md) {
        content: "Вперёд";
      }
    }
  }

  .current {
    padding: 0;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black;
    color: $white;
    border-radius: 50%;
  }
}
