$mainFont: "Inter", "Arial", san-serif;

$accent: #43b05c;
$orange: #ed8a19;
$textLight: #888888;
$white: #fff;
$black: #000;
$error: #dc3232;
$grey: #f4f4f4;
$greyDark: #d9d9d9;

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
